.image {
  width: 90%;
  height: 10%;
  object-fit: contain;

  border: 2px dashed #cea1be;
  border-radius: 0.125rem;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.title {
  color: #cea1be;
  font-weight: 600;
  margin: 0;
}

.subTitle {
  color: #cea1be;
  font-weight: 400;
  margin-top: -0.5rem;
}
