.DashboardPage {
  width: auto;

  margin: 1rem 1rem;
  padding: 1rem 1rem;

  border: 0.125rem dashed var(--color-secondary-200);
  border-radius: 0.5rem;
}

/* ===== MEDIA QUERIES (MEDIUM DEVICE / TABLET ) ===== */
@media screen and (max-width: 1024px) {
}

/* ===== MEDIA QUERIES (SMALL DEVICE / PHONE ) ===== */
@media screen and (max-width: 600px) {
  .DashboardPage_icon {
    font-size: 2rem;
  }
}
