:root {
  --primary-color: #f56eb3;
  --secondary-color: #cb1c8d;
  --tertiary-color: #7f167f;
  --quaternary-color: #460c68;

  --white-color: #fbf9ff;
  --dark-color: #0a0f0d;

  --disabled-color: #d3d3d3;
}
